asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
Django==5.1.4
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-geojson==4.1.0
h3==4.1.2
idna==3.10
numpy==2.2.1
pycparser==2.22
pytz==2024.2
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
timezonefinder==6.5.7
urllib3==2.2.3
