{% extends "main.html" %}
{% load leaflet_tags %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{% block content %}
<script>
    function map_init(map, options) {
    map.setView([{{ flight.takeoff.lat }}, {{ flight.takeoff.lon }}], 13);
    var style_thermals = {
        "color": "#00bf06",
        "weight": 2,
        "opacity": 1
    };
    var style_glides = {
        "color": "#ed9a00",
        "weight": 2,
        "opacity": 1
    };
    var style_xcscore = {
        "color": "#30fcff",
        "weight": 5,
        "opacity": 0.65
    };
    L.geoJSON({{ flight.glides.geojson | safe }}, {style: style_glides}).addTo(map);
    L.geoJSON({{ flight.thermals.geojson | safe }}, {style: style_thermals}).addTo(map);
    L.geoJSON({{ xcscore_layer | safe }}, {style: style_xcscore}).addTo(map);
    }
</script>
<style>
    #map { height: 600px; }
</style>

<div class="row">
    <div class="col-4">
        {{ flight }}
    </div>
    <div class="col-8">
        {% leaflet_map "map" callback="window.map_init" %}
    </div>
</div>

{% endblock %}