{% extends "main.html" %}
{% block content %}

<form method="get" id="filter-form">
  <label>
      <input type="radio" name="filter" value="all" {% if request.GET.filter == "all" %}checked{% endif %}>
      Show All
  </label>
  <label>
      <input type="radio" name="filter" value="xc" {% if request.GET.filter == "xc" %}checked{% endif %}>
      Only XC
  </label>
</form>

<script>
  // Automatically submit the form when a radio button is changed
  document.querySelectorAll('input[name="filter"]').forEach(function (radio) {
      radio.addEventListener('change', function () {
          document.getElementById('filter-form').submit();
      });
  });
</script>

<!-- Pagination controls -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for k in page_obj.paginator.page_range %}
            {% if page_obj.number == k %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{ k }}">{{ k }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% if flights %}

<h2>Flights</h2>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>TO (UTC)</th>
      <th>Airtime</th>
      <th>Country</th>
      <th>Takeoff</th>
      <th>XC Points</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    {% for flight in flights %}
    <tr>
        <td>{{ flight.takeoff.datetime.date }}</td>
        <td>{{ flight.takeoff.datetime|time:"H:i" }}</td>
        <td>{{ flight.airtime_str }}</td>
        <td>{{ flight.takeoff.country_code|upper }}</td>
        <td>{%if flight.takeoff.name %} {{ flight.takeoff.name }} {% else %}N/A ({{ flight.takeoff.state }}){% endif %}</td>
        <td>{{ flight.xcscore.score|floatformat:0 }}</td>
        <td><a href="{% url 'frontend:flight_detail' flight.id %}">{{ flight.file_hash_short}}</a></td>
        </a>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
    <p>No flights in DB.</p>
{% endif %}

{% endblock %}