{% extends "main.html" %}

{% block content %}
<div class="container-lg mt-5">
    <div class="col-xl-10 offset-xl-1">

<h1>Total</h1>
<div class="row"><div class="col-6">
<p class="lead">
    You left the ground {{total.flights}} times for a total of 
    {{total.airtime|floatformat}} hours. Yay!
</p>
</div></div>

<h1>Per Year</h1>
<h2>Airtime</h2>
{% for year, vals in per_year.items %}
<div class="row">
    <div class="col-1">
        {{year}}
    </div>
    <div class="col-11">
        <div class="progress" 
             role="progressbar">
            <div class="progress-bar" style="width: {{ vals.airtime.rel }}%"> 
                {{ vals.airtime.abs|floatformat }} h 
            </div>
        </div>
    </div>
</div>
{% endfor %}

<h2>Number of Flights</h2>
{% for year, vals in per_year.items %}
<div class="row">
    <div class="col-1">
        {{year}}
    </div>
    <div class="col-11">
        <div class="progress" 
             role="progressbar">
            <div class="progress-bar" style="width: {{ vals.flights.rel }}%">
                {{ vals.flights.abs|floatformat }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

</div></div>
{% endblock %}