{% extends "main.html" %}

{% block content %}
<div class="container-xl mt-3">

  <div class="row">
    <div class="col-lg">
      <div class="row my-3"><p class="h3">Time in the air</p></div>
      {% for year, vals in per_year.items %}
      <div class="row mt-1">
        <div class="col-md-auto">{{year}}</div>
        <div class="col">
          <div class="progress" role="progressbar">
            <div class="progress-bar bg-info text-dark" style="width: {{ vals.airtime.rel }}%"> 
              {{ vals.airtime.abs|floatformat:0 }} h 
            </div>
          </div>
        </div>  
      </div>
    {% endfor %}
    </div>
    <div class="col-lg">
      <div class="row my-3"><p class="h3">Days out</p></div>
      {% for year, vals in per_year.items %}
      <div class="row mt-1">
        <div class="col-md-auto">{{year}}</div>
        <div class="col">
          <div class="progress" role="progressbar">
            <div class="progress-bar bg-info text-dark" style="width: {{ vals.days.rel }}%"> 
              {{ vals.days.abs|floatformat:0 }} d
            </div>
          </div>
        </div>  
      </div>
    {% endfor %}
    </div>  
  </div>

  <div class="row">
    <div class="col-lg">
      <div class="row my-3"><p class="h3">Times off the ground</p></div>
      {% for year, vals in per_year.items %}
      <div class="row mt-1">
        <div class="col-md-auto">{{year}}</div>
        <div class="col">
          <div class="progress" role="progressbar">
            <div class="progress-bar bg-info text-dark" style="width: {{ vals.flights.rel }}%"> 
              {{ vals.flights.abs|floatformat:0 }} x
            </div>
          </div>
        </div>  
      </div>
    {% endfor %}
    </div>
    <div class="col-lg">
      <div class="row my-3"><p class="h3">Cross-country</p></div>
      {% for year, vals in per_year.items %}
      <div class="row mt-1">
        <div class="col-md-auto">{{year}}</div>
        <div class="col">
          <div class="progress" role="progressbar">
            <div class="progress-bar bg-info text-dark" style="width: {{ vals.xc_km.rel }}%"> 
              {{ vals.xc_km.abs|floatformat:0 }} km
            </div>
          </div>
        </div>  
      </div>
    {% endfor %}
    </div>  
  </div>

</div>
{% endblock %}