<li class="py-2 py-lg-1 px-lg-1 col-12 col-lg-auto">
  <form class="d-flex" role="search" method="GET">
    <input class="form-control me-2" type="search" list="datalistOptions" id="flightFilter" name="flightFilter" placeholder="Filter">
      <datalist id="datalistOptions">
      {% for option in filter_all %}
        <option value="{{option}}">
      {%endfor%}
      </datalist>
    <button class="btn btn-outline-success me-2" name="apply" type="submit">Apply</button>
    <button class="btn btn-outline-secondary position-relative" name="reset" type="submit">Reset
      {%if filter_active%}
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-warning border border-light rounded-circle">
        <span class="visually-hidden">Filter active</span>
      </span>
      {%endif%}
    </button>
  </form>
</li>
<!-- separator -->
<li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
  <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
  <hr class="d-lg-none my-2 text-white-50">
</li>