<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- template extend "head" -->
  {% block head %}
  {% endblock %}
</head>

<body>
<div class="container-lg mt-5 border">
<div class="col-xl-10 offset-xl-1">

<nav class="navbar navbar-expand-lg bg-primary-subtle text-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">igc-lens</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'frontend:flights_list' %}">List</a>
        <a class="nav-link" href="{% url 'importer:upload' %}">Upload</a>
      </div>
    </div>
  </div>
</nav>
<!-- template extend "content" -->
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>